In [1]:
# !pip install datasets transformers

In [2]:
import datasets
import transformers

from datasets import load_dataset
from transformers import pipeline
datasets.__version__

'3.3.2'

In [3]:
transformers.__version__

'4.49.0'

In [4]:
reviews = load_dataset('rotten_tomatoes')

In [5]:
type(reviews)

datasets.dataset_dict.DatasetDict

In [6]:
reviews

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 8530
    })
    validation: Dataset({
        features: ['text', 'label'],
        num_rows: 1066
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 1066
    })
})

In [7]:
reviews['train'].to_pandas()

                                                   text  label
0     the rock is destined to be the 21st century's ...      1
1     the gorgeously elaborate continuation of " the...      1
2                        effective but too-tepid biopic      1
3     if you sometimes like to go to the movies to h...      1
4     emerges as something rare , an issue movie tha...      1
...                                                 ...    ...
8525  any enjoyment will be hinge from a personal th...      0
8526  if legendary shlockmeister ed wood had ever ma...      0
8527  hardly a nuanced portrait of a young woman's b...      0
8528    interminably bleak , to say nothing of boring .      0
8529  things really get weird , though not particula...      0

[8530 rows x 2 columns]

In [8]:
reviews['train'].to_pandas()['text'][0]

'the rock is destined to be the 21st century\'s new " conan " and that he\'s going to make a splash even greater than arnold schwarzenegger , jean-claud van damme or steven segal .'

In [9]:
classifier = pipeline('sentiment-analysis')

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision 714eb0f (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

model.safetensors:   0%|          | 0.00/268M [00:00<?, ?B/s]

tokenizer_config.json:   0%|          | 0.00/48.0 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/232k [00:00<?, ?B/s]

Device set to use cpu

In [13]:
classifier('this was a great movie')

[{'label': 'POSITIVE', 'score': 0.9998722076416016}]

In [14]:
test_df = reviews['test'].to_pandas()

In [16]:
def score(review_text):
    return classifier(review_text)[0]['label']

In [17]:
test_df['model_prediction'] = test_df['text'].apply(score)

In [18]:
test_df

,text,label,model_prediction
0,lovingly photographed in the manner of a golde...,1,POSITIVE
1,consistently clever and suspenseful .,1,POSITIVE
2,"it's like a "" big chill "" reunion of the baade...",1,NEGATIVE
3,the story gives ample opportunity for large-sc...,1,POSITIVE
4,"red dragon "" never cuts corners .",1,POSITIVE
...,...,...,...
1061,a terrible movie that some people will neverth...,0,NEGATIVE
1062,there are many definitions of 'time waster' bu...,0,NEGATIVE
1063,"as it stands , crocodile hunter has the hurrie...",0,NEGATIVE
1064,the thing looks like a made-for-home-video qui...,0,NEGATIVE
1065,"enigma is well-made , but it's just too dry an...",0,NEGATIVE